############################################################
# Environment File.
# Environment variables list for publishing.
############################################################
OSSRH_USERNAME=sonatype-user
OSSRH_PASSWORD=sonatype-password

SIGNING_KEY=base64-gpg-key
SIGNING_PASSWORD=gpg-password